.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 80%;
    position: relative;
    margin-top: 1%;
}

.divMenu{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.btns{
    background-color: transparent;
    border: 1px solid #88e23b;
    color: #88e23b;
    border-radius: 30px;
    transition: transform .2s;
    font-family: 'Rowdies', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 8px;
}

.btns:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: #88e23b;
    color: #000;
}

