.divInput{
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0;
}

.input {
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 17%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: rgb(155, 155, 155);
}