.divInput{
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0;
}

.input{
    background-color: transparent;
    border: none;
    height: 40%;
    color: #88e23b;
    border-bottom: 2px solid #88e23b;
    font-size: 1.2rem;
}

.input:focus{
    outline: none;
}

.input::placeholder{
    color: #88e23b;
    font-size: 1.2rem;
    font-family: 'Rowdies', sans-serif;
}